{% extends base_template %}
{% block title %}Welcome to jiangkai's blog{% endblock %}

{% block main %}
<h1>Welcome to JK's blog!</h1>
<p>
This blog is powered by django-nonrel and google app engine.
</p>

<p>
You can follow the
<a href="http://www.allbuttonspressed.com/blog/django">Django-nonrel & webdev blog</a>,
</p>

<p>
If you're new to Django you should take a look at the
<a href="http://docs.djangoproject.com/en/dev/">Django documentation</a>
and the
<a href="http://www.djangobook.com/">Django book</a>.
You'll also find <a href="http://djangosnippets.org/">djangosnippets</a>
very useful.
</p>

<p>
Thanks to Francisco Souza, this blog built by the instructions of <a href="http://f.souza.cc/2010/08/flying-with-django-on-google-app-engine.html">flying-with-django-on-google-app-engine</a>
</p>
{% endblock %}
